<h1>Order Dillas</h1>

<%= form_for(@dilla) do |f| %>
  <select name="dilla[name]">
    <option value="Dilla from Manila">Dilla in Manila</option>
    <option value="Godzdilla">Godzdilla</option>
    <option value="Ghostface Dilla">Ghostface Dilla</option>
    <option value="All Dilla No Filla">All Dilla No Filla</option>
  </select>

  <%= f.submit "Get Dillas" %>
<% end %>


<h4> Dilla in Manila </h4>
<p> <em> Sriracha-loaded dillamonster that will knock your hunger out (that's not funny, but neither is this dilla...it's dead serious)! </em></p>

<h4> Godzdilla </h4>
<p> <em>A dilla of mythic proportions, known to cause citizens of global metropolises (sp?) to flee in fear </em></p>

<h4> Ghostface Dilla </h4>
<p> <em>The cheesiest, most delicious member of the Wu-Tang Clan </em></p>

<h4> All Dilla No Filla </h4>
<p> <em> The most glorious dilla of all time </em></p>
