<h2>WELCOME TO GETADILLA</h2>

<body>
  <div>
    <span class="links"><%= link_to('SIGN UP!', '/signup') %></span>
    <span class="links"><%= link_to('LOG IN!', '/login') %></span>
  </div>

  <div class="menu">
    <div class="menu_title">
      <h3><strong> THE DILLAS </strong></h3>
    </div>
    <h4> Dilla in Manila </h4>
    <p> <em> Sriracha-loaded dillamonster that will knock your hunger out (that's not funny, but neither is this dilla...it's dead serious)! </em></p>

    <h4> Godzdilla </h4>
    <p> <em>A dilla of mythic proportions, known to cause citizens of global metropolises (sp?) to flee in fear </em></p>

    <h4> Ghostface Dilla </h4>
    <p> <em>The cheesiest, most delicious member of the Wu-Tang Clan </em></p>

    <h4> All Dilla No Filla </h4>
    <p> <em> The most glorious dilla of all time </em></p>

    <h4> The de Blasio, Billadilla  </h4>
    <p> <em> The unofficial dilla of the de Blasio campaign for mayor of the great city of Nueva York </em></p>

    <h4> Guerilladilla  </h4>
    <p> <em> Che loved him some dillas...this dilla goes great with your t-shirt! </em></p>
  </div>
</body>

