<h1>WELCOME TO GETADILLA</h1>

<strong><%= link_to('SIGN UP!', '/signup') %></strong>
<br>
<strong><%= link_to('LOG IN!', '/login') %></strong>
<br>
<br>
<h3><strong> THE DILLAS </strong></h3>
<br>
<h4> Dilla in Manila </h4>
<p> <em> Sriracha-loaded dillamonster that will knock your hunger out (that's not funny, but neither is this dilla...it's dead serious)! </em></p>

<h4> Godzdilla </h4>
<p> <em>A dilla of mythic proportions, known to cause citizens of global metropolises (sp?) to flee in fear </em></p>

<h4> Ghostface Dilla </h4>
<p> <em>The cheesiest, most delicious member of the Wu-Tang Clan </em></p>

<h4> All Dilla No Filla </h4>
<p> <em> The most glorious dilla of all time </em></p>

