<h1>YOU JUST GOT SOME DILLAS!!!!!!!!</h1>

<p>We've received your order!!!!</p>

<div><%= link_to('Get More Dillas!', orderdilla_path) %></div>
<div><%= link_to('View Order History', dillas_path) %></div>


