/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
        #Reset & Basics
        #Basic Styles
        #Site Styles
        #Typography
        #Links
        #Lists
        #Images
        #Buttons
        #Forms
        #Misc */


/* #Basic Styles
================================================== */

        *{
            margin:0;
            padding:0;

}

        #container{
            margin: 45px;
            padding: 45px 60px;
            background-color: rgba(235, 230, 225, .85);
            position: relative;
}


        #wrapper{
            margin:10px auto;
            text-align:left;
}


        body {
            background: #fff;
            font-family: 'Francois One', sans-serif;
            background-image:url('http://www.canextrade.net/pro/mexican-talavera/mexican-tile.jpg');
 }

        header {

}

        #google_translate_element  {
            text-align: left;

}

        #logo {
            font-family: 'Frijole', cursive;
            font-size: 50px;
            position: relative;
            text-align: center;
}

        .links {
            margin: 40px 0px;
            border: 0px 0px;
}

        .menu {
            padding: 30px 0px;
            border: 20px;
            margin: auto;
}

        .menu_item {
            padding: 10px 0px;
            border: 20px;
            margin: auto;
}


        form {
            text-align: left;
        }

