/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
        #Reset & Basics
        #Basic Styles
        #Site Styles
        #Typography
        #Links
        #Lists
        #Images
        #Buttons
        #Forms
        #Misc */


/* #Basic Styles
================================================== */

        *{
            margin:0;
            padding:0;
}

        #wrapper{
            width:960px;
            margin:10px auto;
            text-align:left;
}


        body {
            background: #fff;
            font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #444;
            -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
            -webkit-text-size-adjust: 100%;
            text-align:center;
 }

        header {

}

        #google_translate_element  {
            text-align: left;

}

        #logo {
            font-family: 'Frijole', cursive;
            font-size: 50px;
            display: inline;
            position: relative;
            z-index: 1;
}

        .links {
            padding: auto;
            margin: auto;
            border: auto;
}

        .menu {
            padding: 20px;
            border: 30px;
            margin: auto;
}

        form {
            text-align: left;
        }

